body {
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    background-color: red;
}

.navbar {
    background-color: red;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}

.navbar:hover {
    background-color: crimson;
}

.active-page {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 100px;
    color: white;
}

h2,
h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 125px;
    color: white;
}

p,
ul {
    color: white;
    font-size: 20px;
    margin: auto 125px;
}

.column {
    display: flex;
    justify-content: space-evenly;
}

img {
    height: 300px;
    border-radius: 50%;
}

.img-center {
    text-align: center;
    margin: 25px auto 25px;
}

.img-2by3 {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

form {
    color: white;
}

.single,
.multiple,
button,
input {
    padding: 10px;
    font-size: 25px;
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 25px;
}

.button {
    text-align: center;
}
