body {
    background-color: black;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: red;
}

.navbar {
    background-color: red;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}

.navbar:hover {
    background-color: crimson;
}

.active-page {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 100px;
    color: white;
}

h2,
h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 75px;
    color: white;
}

p,
ul {
    color: white;
    font-size: 20px;
    margin: auto 50px;
}

.column {
    display: flex;
    justify-content: space-evenly;
}
